<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dam2.m08.proyectocsmaresme">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:enableOnBackInvokedCallback="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:targetApi="33">

        <activity
            android:name=".Login"
            android:exported="true"
            android:label="Consorci del Maresme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:exported="false">
        </activity>
        <activity
            android:name=".RecuperarContraseña"
            android:exported="false">
        </activity>
        <activity
            android:name=".settings.Sugerencias"
            android:exported="false">
        </activity>
        <activity
            android:name=".settings.Report"
            android:exported="false">
        </activity>
        <activity
            android:name=".settings.Calificanos"
            android:exported="false">
        </activity>
        <activity
            android:name=".settings.Contactanos"
            android:exported="false">
        </activity>
        <activity
            android:name=".noticias.Home"
            android:exported="false">
        </activity>
        <activity
            android:name=".juegos.Games"
            android:exported="false">
        </activity>
        <activity
            android:name=".foroanonimo.ChatAnonimo"
            android:exported="false">
        </activity>
        <activity
            android:name=".settings.Setting"
            android:exported="false">
        </activity>
        <activity
            android:name=".noticias.AddNoticia"
            android:exported="false">
        </activity>
        <activity
            android:name=".foroanonimo.FormularioComentario"
            android:theme="@style/Theme.AppCompat.NoActionBar.TemaPopup"
            android:exported="false">
        </activity>
        <activity android:name=".juegos.preguntados.QuizActivity"
            android:exported="false">
        </activity>
        <activity android:name=".juegos.preguntados.OptionQuiz"
            android:exported="false">
        </activity>
        <activity android:name=".juegos.minesweeper.MineSweeperActivity"
            android:exported="false">
        </activity>
        <!--Importante, si van agregar una clase nueva, haganlo de la manera que se ve arriba
        Si no, la aplicacion generara mas iconos de los que necesitamos y no tiene que ser asi.

        android:name="nombre de la clase que se va a agregar"
        android:exported="false"
        -->
    </application>

</manifest>